h1{
  font-family: Playfair Display;
}

h2{
  font-family: Playfair Display;
}

h5{
  font-family: Inter;
}

p{
  font-family: Inter;
}



body{
  background-color: #fff;
}

.dark-mode{
  background-color: #171717;
  color: #fff;
}