.banner{
    margin: 0 0 0 80px;
}

.banner > h2{
    font-size: 30px;
    font-weight: 800;
}

.b-img{
    display: flex;
}

.b-img > img{
    margin: 0 65px 0 0;
}

@media (max-width: 767px){
    .banner{
        display: none;
    }
}